version = 0.1
[dev]
[dev.deploy]
[dev.deploy.parameters]
stack_name = "devtekbyte"
s3_bucket = "aws-sam-cli-managed-default-samclisourcebucket-9dnrtuihka7k"
s3_prefix = "devtekbyte"
region = "us-west-2"
confirm_changeset = true
capabilities = "CAPABILITY_IAM"
parameter_overrides = "Stage=\"dev\""
image_repositories = []
